body {
    background-color: #00FA9A;
    background-image: url("IMG_20220119_130317__01.jpg");
    background-size: cover;
}
   
#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}

#img {
    size: 10px;
   
   
}

#caption {
    display: inline-block;
    font-size: 17px;
    font-family: Gill Sans;
    color: black;   
}

#tribute-data {
    background-color: rgb(46,139,87,0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: georgia;
    padding: 25% 25%;
    margin: 11px;
    margin-top: 50px;

}


#tribute-link {
    text-decoration: none;
    color: blue;
}

h1.title-OMPRAKASHTYAGI {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

